In [3]:
import sqlite3 as sql
from time import perf_counter as timer

In [4]:
def timethis(fun, *args, **kwargs):
    t1 = timer()
    output = fun(*args, **kwargs)
    t2 = timer()
    print((t2 - t1)*1000)
    return output

In [136]:
# TODO with the summary:
            # I should be able to...
            # * Easily graph all sites at once and show multiple stats for each variable
            # * Easily flag time periods of interest
            # * Easily zoom in on time periods of interest
            # * Find input and output files associated with the time period of interest
            # * Solution: sqlite database, not pandas dataframe.
            # * One stats table and one rawfile metadata table for each site.
            # * Stats table key: starting timestamp
            # * Metadata table key: file timestamp

def create_table():
    with sql.connect('test2.db') as conn:
        create_table_query = """
            CREATE TABLE IF NOT EXISTS stats
            (timestamp INT PRIMARY KEY NOT NULL,
            co2_avg REAL,
            co2_max REAL
            );
            """
        cursor = conn.cursor()
        cursor.execute(create_table_query)
        for i in range(10_000):
            data = (20210101130000 + i, 600, 750)
            cursor.execute(
                'INSERT INTO stats (timestamp, co2_avg, co2_max) \
                VALUES(?, ?, ?)', data)
            conn.commit()
            cursor = conn.execute('SELECT * FROM stats')

In [137]:
timethis(create_table)

8918.183097999645

In [145]:
def create_pandas_table():
    df = pandas.DataFrame(columns=['timestamp', 'co2_avg', 'co2_max'])
    df.set_index('timestamp', inplace=True)
    for i in range(10_000):
        data = (20210101130000 + i, 600, 750)
        df.loc[data[0]] = data[1:]
timethis(create_pandas_table)

16879.72930199976

In [115]:
test = db('test8.db')
test.make_table('BLOOOOOB', dict(A="INT NOT NULL", B="INT NOT NULL"))

RecursionError: maximum recursion depth exceeded

In [98]:
with sql.connect('test6.db') as conn:
    conn.execute("""CREATE TABLE BLOOOOOB (A INT NOT NULL,B INT NOT NULL);""")
    conn.execute(
        f"INSERT INTO BLOOOOOB (A, B) \
        VALUES(3, 4)")
    conn.commit()
    cursor = conn.execute('SELECT *')
    names = [description[0] for description in cursor.description]
    for row in cursor:
        print(*row)

OperationalError: no tables specified

'test\n        test\n        test'