In [3]:
import sqlite3 as sql
from time import perf_counter as timer

In [4]:
def timethis(fun, *args, **kwargs):
    t1 = timer()
    output = fun(*args, **kwargs)
    t2 = timer()
    print((t2 - t1)*1000)
    return output

In [41]:
with sql.connect('test.db') as conn:
    
    
    conn.execute(
        """CREATE TABLE COMPANY
        (ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL);"""
    )
    conn.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
    VALUES(1, 'Paul', 32, 'P. Sherman, 42 Wallaby Way, Sidney', 20000.00)")
    conn.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
    VALUES(2, 'Jorge', 19, '16 Snidely Blvd., Calgary, Alberta', 12.00)")
    conn.commit()
    cursor = conn.execute('SELECT ID, NAME, ADDRESS, SALARY from COMPANY')
    names = [description[0] for description in cursor.description]
    for row in cursor:
        print(*row)

OperationalError: table COMPANY already exists

In [91]:
class db:
    def __init__(self, fn):
        self.fn = fn
        sql.connect(self.fn)
    def make_table(self, name, table_string):
        """table_string: a dict of for {rowname:attributes}
        for example, to specify the columns 
        
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        
        input
        
        table_string = {'ID': 'INT NOT NULL', 
                       'NAME': 'TEXT NOT NULL'}"""
        self.table_string = """,""".join(f"""{k.upper()} {v.upper()}""" for k, v in table_string.items())
        self.table_string = f"""CREATE TABLE IF NOT EXISTS {name.upper()} ({self.table_string});"""
        with sql.connect(self.fn) as conn:
            print(self.table_string)
            conn.execute(self.table_string)
            conn.execute("INSERT INTO TESTTABLE (A, B) \
            VALUES(3, 4)")
            conn.commit()
            cursor = conn.execute('SELECT ALL')
            names = [description[0] for description in cursor.description]
            for row in cursor:
                print(*row)
#         with sql.connect(self.fn) as conn:
#             conn.execute(self.table_string)
#             conn.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
#     VALUES(1, 'Paul', 32, 'P. Sherman, 42 Wallaby Way, Sidney', 20000.00)")
#             conn.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
#             VALUES(2, 'Jorge', 19, '16 Snidely Blvd., Calgary, Alberta', 12.00)")
#             conn.commit()
#             cursor = conn.execute('SELECT ID, NAME, ADDRESS, SALARY from COMPANY')
#             names = [description[0] for description in cursor.description]
#             for row in cursor:
#                 print(*row)

In [92]:
test = db('test4.db')
test.make_table('TESTTABLE', dict(A="INT NOT NULL", B="INT NOT NULL"))

CREATE TABLE IF NOT EXISTS TESTTABLE (A INT NOT NULL,B INT NOT NULL);

IntegrityError: UNIQUE constraint failed: TESTTABLE.A

In [47]:
with sql.connect

'test\n        test\n        test'