# SQLite3 intro

In [55]:
import sqlite3 as sq
from pathlib import Path

import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.csv as pacsv

Set the directories we want to use

* `sandbox_dir`: the main directory for the chimney park sandbox
* `data_dir`: where all the sandbox data is kept for general use
* `wd`: alex's work directory

In [56]:
sandbox_dir = Path('/Volumes/TempData/Bretfeld Mario/Chimney-Park-Reprocessing-Sandbox/')
data_dir = sandbox_dir /'Bad'/'Chimney'/'Data'
wd = sandbox_dir = sandbox_dir/'Alex Work'

## Creating a database

Creating a connection object creates a database automatically if it doesn't already exist. You can input the path to a new/extant `.db` file, or select `':memory:'` as an argument to create it in RAM

In [57]:
con = sq.connect(wd / 'CP.db')

## Create a cursor

You need a cursor object to execute SQLite statements in Python. 

The cursor is a method of the `connection` object. To execute SQLite commands, you need to establish a connection object first, then create a cursor object using the connection.

In [58]:
csr = con.cursor()

## Create a table

Steps to make a table:

1. Create a `connection` to open/make a database
2. Create a `cursor` from the connection
3. Call the `cursor.execute()` method with a query as an argument

Let's make the table called `Sonic30min` with attributes `TIMESTAMP, Site, Height, Model, U, V, W, Ts, Diag_Sonic`

In [59]:
# custom function
def create_table(csr, con, name, *columns):
    columns = ", ".join(columns)
    query = (
        f'''
        CREATE TABLE {name}(
            {columns}
        )
        '''
    )
    
    print(query)
    
    # send the query
    csr.execute(query)
    # save changes
    con.commit()
    
    return

csr.execute(
    '''
    CREATE TABLE Sonic30min(timestamp, site, height, model, stat, u, v, w, t_sonic, diag_sonic)
    '''
)
con.commit()

## Insert data into a table

Use the `INSERT INTO` query. Use the `VALUES` method to pass raw data in column order

In [60]:
csr.execute(
    '''
    INSERT INTO Sonic30min 
        VALUES('2021-03-04 12:30', 'BBNF', 17, 'CSAT3', 'Avg', 1.3, 2.1, 0.6, 12.2, 248)
    '''
)
con.commit()

You can pass in specific column values by calling those columns from the table. `?`'s are populated by `*args` following the query statement.

In [61]:
args = ('2021-03-04 12:30', 'BBNF', 17, 'CSAT3', 'Std', 2.1)

csr.execute(
    '''
    INSERT INTO 
        Sonic30min(timestamp, site, height, model, stat, u)
        VALUES(?, ?, ?, ?, ?, ?)
    ''',
    args
)

csr.execute(
    '''
    INSERT INTO Sonic30min(timestamp, site, height, model, stat, v)
        VALUES(?, ?, ?, ?, ?, ?)
    ''',
    args
)

con.commit()

## Update a table

Change values for extant rows of the data table using `UPDATE`

In [62]:
csr.execute(
    '''
    UPDATE Sonic30min
    SET Diag_Sonic = 250 
    WHERE Stat = 'Std'
    '''
)

con.commit()

## Selecting and fetching data

Selecting is like highlighting:
* Select all columns: `SELECT * FROM table_name`
* Select some columns: `SELECT col1, col2 FROM table_name`

Once data is selected, it can be fetched using the `cursor.fethall()` method to store values into a list of tuples with shape `Nrows_list_items x Ncols_tuple_items`

In [63]:
csr.execute(
    '''
    SELECT * 
    FROM Sonic30min
    '''
)
data = csr.fetchall()
print(data)

[('2021-03-04 12:30', 'BBNF', 17, 'CSAT3', 'Avg', 1.3, 2.1, 0.6, 12.2, 248), ('2021-03-04 12:30', 'BBNF', 17, 'CSAT3', 'Std', 2.1, None, None, None, 250), ('2021-03-04 12:30', 'BBNF', 17, 'CSAT3', 'Std', None, 2.1, None, None, 250)]

#### Using pandas/numpy

* Pandas: `pd.read_sql`/`pd.read_sql_table`/`pd.read_sql_query`
* Numpy: `np.fromiter`. More complex to use.

In [68]:
pd.read_sql(sql='SELECT * FROM Sonic30min', con=con)

,timestamp,site,height,model,stat,u,v,w,t_sonic,diag_sonic
0,2021-03-04 12:30,BBNF,17,CSAT3,Avg,1.3,2.1,0.6,12.2,248
1,2021-03-04 12:30,BBNF,17,CSAT3,Std,2.1,NaN,NaN,NaN,250
2,2021-03-04 12:30,BBNF,17,CSAT3,Std,NaN,2.1,NaN,NaN,250

### Fetch specific data

In [141]:
# filter using WHERE
query = (
    '''
    SELECT timestamp, site, height, model, diag_sonic 
    FROM Sonic30min
    WHERE stat = 'Std'
    '''
)

pd.read_sql(query, con).columns

Index(['timestamp', 'site', 'height', 'model', 'diag_sonic'], dtype='object')

## Delete data

Delete data with the `DELETE` statement. When using delete *without* as `WHERE` clause/condition, all rows in the table will be deleted.

In [94]:
csr.execute('DELETE FROM Sonic30min').rowcount

3

If we were to commit this transaction/command with `con.commit()`, the deletion would be permanent. We can cancel this transaction with `con.rollback()` if we haven't allready used `commit`

In [95]:
con.rollback()

## Listing available tables

query from the `sqlite_master` table, which stores table metadata. The `name` column of `sqlite_master` contains the table names.

In [101]:
csr.execute('SELECT name FROM sqlite_master WHERE type="table"')
csr.fetchall()

[('Sonic30min',)]

#### Check if a table exists when creating to avoid errors

In [113]:
csr.execute(
    '''
    CREATE TABLE IF NOT EXISTS 
    IRGA(timestamp, site, height, model, stat, co2, h2o, tcell, pcell, diag_irga)
    '''
)
con.commit()

Or check manually

In [114]:
csr.execute('SELECT name FROM sqlite_master WHERE type="table" AND name="IRGA"')
csr.fetchall()

[('IRGA',)]

#### Deleting entire tables

Use `DROP`

***NB. `DROP` CANNOT BE ROLLED BACK!***

In [115]:
# csr.execute('DROP TABLE IF EXISTS IRGA')
# con.commit()

## Bulk data insertion

Use `cursor.executemany()` method to insert multiple *rows* at once.

In [117]:
# inserting 3 rows
data = [
    ('2021-03-04 12:30', 'BBNF', 17, 'LI-7500', 'Avg', 620, 5.2, 12.8, 72.1, 248),
    ('2021-03-04 13:00', 'BBNF', 17, 'LI-7500', 'Avg', 624, 5.1, 12.0, 72.1, 248),
    ('2021-03-04 13:30', 'BBNF', 17, 'LI-7500', 'Avg', 628, 5.0, 10.1, 72.1, 248)
]

csr.executemany(
    '''
    INSERT INTO IRGA(timestamp, site, height, model, stat, co2, h2o, tcell, pcell, diag_irga)
        VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''',
    data
)
con.commit()

## Closing a connection

In [118]:
con.close()

Alternatively, use a context manager

In [128]:
from contextlib import closing
with closing(sq.connect(wd/'CP.db')) as con:
    csr = con.cursor()
    csr.execute('SELECT * FROM IRGA')
    print(csr.fetchall())

[('2021-03-04 12:30', 'BBNF', 17, 'LI-7500', 'Avg', 620, 5.2, 12.8, 72.1, 248), ('2021-03-04 13:00', 'BBNF', 17, 'LI-7500', 'Avg', 624, 5.1, 12.0, 72.1, 248), ('2021-03-04 13:30', 'BBNF', 17, 'LI-7500', 'Avg', 628, 5.0, 10.1, 72.1, 248)]

## Datatypes

SQLite has several storage classes:

* NULL, for null values
* INTEGER for signed integers from 0 to 8 bytes. Also contains BOOL.
* REAL for floats, stored as IEEE8
* TEXT stored using database encoding such as UTF-8, etc
* BLOB, stored exactly as input.

SQLite will try to best type data in a database, so for example the string `'123'` will be converted to the `INT` `123`, unless it's entered into a rigidly typed column with the `TEXT` type.

See: https://www.sqlite.org/datatype3.html

#### Datetimes

Sql cannot store actual datetime objects, so just format things in ISO strings as `YYYY-MM-DD HH:MM:SS.SSS`, or some substring of that.

In [149]:
with closing(sq.connect(wd/'CP.db')) as con:
    csr = con.cursor()
    csr.execute(
        '''
        CREATE TABLE IF NOT EXISTS 
            Netrad(
                timestamp TEXT, 
                site TEXT, 
                height INTEGER, 
                model TEXT, 
                stat TEXT, 
                swin REAL, 
                swout REAL, 
                lwin REAL,
                lwout REAL,
                rnet REAL,
                alb REAL,
                tb REAL
            )
        '''
    )
    
    # note here how we enter data using the "wrong" data types, but they are coerced into whatever our declared column affinity was.
#     csr.execute(
#         '''INSERT INTO Netrad
#             VALUES(
#                 '2021-03-04 13:00',
#                 'BBNF',
#                 '17',
#                 'CNR4',
#                 'Avg',
#                 500,
#                 300.0,
#                 '100',
#                 '50.0',
#                 250,
#                 0.8,
#                 10.1
                
#             )'''
#     )
    
    con.commit()
    
    # filter using WHERE
    query = (
        '''
        SELECT * 
        FROM Netrad
        '''
    )

    display(pd.read_sql(query, 
                        con,
                        parse_dates='timestamp', 
                        index_col = ['timestamp', 'site', 'height', 'stat']
                       ))

,,,,model,swin,swout,lwin,lwout,rnet,alb,tb
timestamp,site,height,stat,,,,,,,,
2021-03-04 13:00:00,BBNF,17,Avg,CNR4,500.0,300.0,100.0,50.0,250.0,0.8,10.1